html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
    height: 100%;
    color: wheat;
  }
body { 
    text-align: center;
    background: linear-gradient(#808080, #000000);
    font-family: 'Titillium Web', sans-serif;
}
.cast-credits {
    display: inline-block;
    border: 2px inset gray;
    padding: 15px;
    margin: 15px;
}

li {
    display: inline;
    text-align: center;
}
li a {
    text-align: center;
    padding: 16px;
}
.movie-links {
    padding: 0;
    text-align: center;
}
footer {
    position:absolute;
    border: 5px ridge darkslategray;
    bottom: 0;
    width:100%;
    color: white;
    height: 50px;
    background-color: #2f0003
}
footer p {
    margin: 10px 0 0 0;
    font-size: 20px;
}